
.header{
    background-color:#fceae8;
    border:0;
}
.button{
    background-color: rgb(56, 231, 56);
}
.woman{
    border-radius: 15px;
    border: 0;
}
.card-img-top{
    height: 60%;
}
footer{
    padding-left: 70px;
    margin-right: 5%;
}
.service{
    background-color: white;
    border:0;
}
.panda-card{
    border: 0;
    background-color: #ca9f9a;
}
.price-buy{
    display: flex;
    margin-top: 30px;
    margin-left: 20px;
}
.button1{
    margin-left:70px;
}


